/*
////////////////////////////////////////////////////////////////////////////////
// scss/components/_buttons.scss :  Button styles
////////////////////////////////////////////////////////////////////////////////
*/

// Button background colors
.theme__colors.btn {
  @include bg-colors($btn-colors, "%buttons");
}

.btn {
  @include m(group) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include media-query(medium) {
      a {
        margin: 0 em(10px);
      }
    }
  }
}