.skills {
  width: 100%;
  li {
    display: inline-flex;
    margin: 0;
    list-style-type: none;
    padding: 5px;
    color: palette(silver-chalace, xx-dark);
    justify-content: space-evenly;
    font-size: em(30px);
  }
}

.cards {
  perspective: 600px;
}

#recent-activity {
  // display: grid; // flex-direction: column;
}

.reviews {
  position: relative;
  margin-top: em(20px);
  width: 90%;
  text-align: left;
  padding-left: em(10px);
  @extend %centered;
  border-radius: $border-radius--default;
  -webkit-box-shadow: 11px 10px 25px -4px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 11px 10px 25px -4px rgba(0, 0, 0, 0.63);
  box-shadow: 11px 10px 25px -4px rgba(0, 0, 0, 0.63);
  color: white;
  background-color: $color--logo-background;
  p {
    text-transform: capitalize;
    font-size: em(14px);
  }
  p:last-of-type {
    padding-bottom: em(20px);
  }
}

.card {
  position: relative;
  transition: transform 1s cubic-bezier(0.55, -0.62, 0.27, 1.2);
  transform-style: preserve-3d;
  max-width: 400px;
  @extend %centered;
  a {
    font-size: em(14px);
    @include media-query(medium) {
      font-size: em(16px);
    }
  }
  h3 {
    color: palette(silver-chalace, xx-dark);
    padding: 10px;
  }
  p {
    color: palette(silver-chalace, base);
    text-align: justify;
    padding: 0 10px;
  }
  p,
  h3 {
    font-size: em(16px);
    margin: 0;
    text-transform: capitalize;
  }
  &:hover {
    transform: rotateY(-180deg);
  }
  @include m(front) {
    backface-visibility: hidden;
    img {
      width: 100%;
    }
  }
  @include m(back) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }
}

.card--front,
.card--back {
  @extend %centered;
  background: white;
  padding: em(10px);
  min-height: em(350px);
  border: 1px solid grey;
  border-radius: $border-radius--default;
  video {
    width: 100%;
    margin: 0;
    padding: em(10px);
    &::-webkit-media-controls-fullscreen-button {
      display: none !important;
    }
  }
  @include media-query(medium) {
    font-size: em(12px);
    height: em(400px);
    justify-items: center;
    border: 6px solid $color--secondary;
    border-radius: $border-radius--default;
    -webkit-box-shadow: 11px 10px 25px -4px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 11px 10px 25px -4px rgba(0, 0, 0, 0.63);
    box-shadow: 11px 10px 25px -4px rgba(0, 0, 0, 0.63);
  }
}