.footer {
  width: 100%;
  border-radius: none;
  background-color: rgba(0, 0, 0, .7);
  padding: em(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media-query(medium) {
    flex-direction: row;
    justify-content: space-around;
  }
  a {
    width: 90%;
    margin: 0;
    color: white;
    text-decoration: none;
    padding: em(5px);
    margin-bottom: em(5px);
    vertical-align: middle;
    font-size: em(32px);
    background-color: rgba(0, 0, 0, .7);
    border-radius: 5px;
    @include media-query(medium) {
      margin-bottom: 0;
      width: em(100px);
    }
  }
}

.copyright {
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  color: white;
  margin: 0;
  padding-bottom: em(20px);
}