/*
////////////////////////////////////////////////////////////////////////////////
// scss/components/_images.scss :  Image styling
////////////////////////////////////////////////////////////////////////////////
*/

.img {
  @include m(profile) {
    width: 72px;
    border-radius: $border-radius--round;
  }
  @include m(background){
    height: 100px;
    width: 90%;
    @extend .centered;
  }
}
