/*
////////////////////////////////////////////////////////////////////////////////
// scss/components/_navigation.scss : Nav Menu styles
////////////////////////////////////////////////////////////////////////////////
*/

.nav {
  margin: 0 0 em(20px) 0;
  text-align: center;
  list-style-type: none;
  @extend %centered;
  @include flex(row) {
    @include bem(item) {
      @extend %centered;
      a {
        justify-content: space-around;
        margin: 0;
        width: em(85px);
        @extend %navigation-menu--links;
        color: palette(silver-chalace, dark);
        li {
          margin: 0;
        }
        &:hover {
          @extend %navigation-menu--on;
        }
        &:focus {
          color: $white;
        }
        @include media-query(medium) {
          width: 90%;
        }
      }
    }
  }
  @include media-query(medium) {
    @include flex(column) {
      & * {
        justify-content: space-around;
      }
    }
  }
}