/*
////////////////////////////////////////////////////////////////////////////////
// scss/components/_navigation.scss : Nav Menu styles
////////////////////////////////////////////////////////////////////////////////
*/

.nav {
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  @include flex(row){
    @include bem(item) { 
      a {
        justify-content: center;
        margin-top: 0;
        @extend %navigation-menu--links;
        color: palette(silver-chalace, dark);
        @include media-query(medium){
          width: 100%;
        }
        li {
          margin: 0;
        }
        &:hover {
          @extend %navigation-menu--on;
        }
        &:focus {
          color: $white;
        }
      }
    }
  }
  @include media-query(medium){
    @include flex(column){
      & * {
        margin-top: em(6px);
        margin-left: em(10px);
        justify-content: space-around;
      }
    }
  }
}
